@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,400);
@charset "UTF-8";
/* CSS Document */


/* Table of Contents
--------------------------------1 Navigation

--------------------------------2 Widths and Heights 

--------------------------------3 Backgrounds

--------------------------------4 Margins and Padding

--------------------------------5 Images

--------------------------------6 Typography

--------------------------------7 Image Hover State
--------------------------------------------*/

/*---------------------------------------------------------------------1 Navigation----------*/
ul {
	list-style-type: none;
}

.icon ul li {
	display: inline-block;
	float: right;
	margin-right: .75rem;
}


/*---------------------------------------------------------------------2 Widths and Heights----------*/



/*---------------------------------------------------------------------3 Backgrounds----------*/

body {
	background-image: url(../img/watercolor-background.jpg);
	background-size: cover;
	background-repeat: repeat-y;
}



/*---------------------------------------------------------------------4 Margins and Padding----------*/

.image, .two-small, .lrg-small .first-image, .double, .last, .large-image, .two-image, .triple-image, .about-image, .column, .columns {
	margin-bottom: 20px;
}

body {
	margin-top: 50px;
}

.side-nav {
	padding-left: 50px;
	position: fixed;
}

.first-image {
	padding-bottom:30px;
}

.bottom-button {
	margin-top: 40px;
}

#bottom {
	margin-top: 100px;
	margin-bottom: 50px;
}

.previous a {
	padding-left: 20px;
}

.next a {
	padding-left: 30px;
}

#pages {
	padding-right: 20px;
}


/*---------------------------------------------------------------------5 Images----------*/

.previous, .next {
  	background-image: url(../img/previous-next-button.png);
 	background-repeat: no-repeat;
  	padding: 10px;
}

.previous a, .next a {
	color: white;
	text-decoration: none;
}


.bottom-button a {
	background-image: url(../img/botton-button.png);
 	background-size:100%;
  	background-repeat:no-repeat;
  	padding:10px;
  	color:white;
  	text-decoration:none;
}

/*---------------------------------------------------------------------6 Typography----------*/
h1, .overlay-fade-in-square h2, .overlay-fade-in-portrait h2, .overlay-fade-in-landscape h2  {
	font-family: 'Pacifico', cursive;
	color: #fff;
}

h2, body {
	font-family: 'Josefin Sans', sans-serif;
}

ul li {
	font-size: 1.25rem;
}

h1, h2 {
	color: #22bbb4;
}

/*---------------------------------------------------------------------7 Image Hover State----------*/
.image-wrapper, .image-overlay-content {
	height: 100%;
	overflow: hidden;
}

.image-wrapper {
  	width: 100%;
  	position: relative;
  	text-align: center;
}

.image-overlay-content {
  	position: absolute;
  	top: 0;
  	left: 0; 
}
 
.overlay-fade-in .image-overlay-content, .overlay-fade-in-square .image-overlay-content, .overlay-fade-in-portrait .image-overlay-content, .overlay-fade-in-landscape .image-overlay-content  { /* CHANGES IMAGE */
  	opacity: 0;
  	transition: all 0.4s ease-in-out; 
  	background-image: url(../img/blue-watercolor-hover.png);
  	background-repeat: no-repeat;
  	background-size: 80%;
  	background-position: center;
  	width: 100%;
}
  
.overlay-fade-in h2, .overlay-fade-in-square h2, .overlay-fade-in-landscape h2, .overlay-fade-in-portrait h2, .overlay-fade-in p, .overlay-fade-in-square p, .overlay-fade-in-portrait p, .overlay-fade-in-landscape p {
  	color: #fff;
}

.overlay-fade-in h2, .overlay-fade-in-square h2, .overlay-fade-in-landscape h2, .overlay-fade-in-portrait h2, .overlay-fade-in-landscape h2 {
	font-size: 1.5rem;
}
.overlay-fade-in h2, .overlay-fade-in-square h2, .overlay-fade-in-landscape h2 {
  	margin-top: 43%;
}

.overlay-fade-in-portrait h2, .overlay-fade-in h2, .overlay-fade-in-square h2, .overlay-fade-in-landscape h2, .overlay-fade-in p, .overlay-fade-in-square p, .overlay-fade-in-portrait p, .overlay-fade-in-landscape p  {
	opacity: 0;
 	transition: all 0.2s ease-in-out;
}

.overlay-fade-in-portrait h2 {
  	margin-top: 60%;
}

.overlay-fade-in-landscape h2 {
  	margin-top: 30%;
}

.overlay-fade-in p, .overlay-fade-in-square p, .overlay-fade-in-portrait p, .overlay-fade-in-landscape p  {
  	font-size: 25px;
}

.overlay-fade-in p, .overlay-fade-in-square p, .overlay-fade-in-portrait p, .overlay-fade-in-landscape p, .overlay-fade-in img, .overlay-fade-in-square img, .overlay-fade-in-portrait img, .overlay-fade-in-landscape img {
	transition: all 0.2s linear;
}
   
.overlay-fade-in:hover img, .overlay-fade-in-square:hover img, .overlay-fade-in-portrait:hover img, .overlay-fade-in-landscape:hover img {
  	transform: scale(1.2); 
}
  
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button, .overlay-fade-in-square:hover h2, .overlay-fade-in-square p, .overlay-fade-in-square .button,.overlay-fade-in-portrait:hover h2, .overlay-fade-in-portrait p, .overlay-fade-in-portrait .button, .overlay-fade-in-landscape:hover h2, .overlay-fade-in-landscape p, .overlay-fade-in-landscape .button, .overlay-fade-in:hover .image-overlay-content, .overlay-fade-in-square:hover .image-overlay-content, .overlay-fade-in-portrait:hover .image-overlay-content, .overlay-fade-in-landscape:hover .image-overlay-content   {
  	opacity: 1;
}

/*--------------------------------------------------------------------Media Queries --------------*/
/* Small only */
@media screen and (max-width: 39.9375em) {

/*---------------------------------------------------------------------1 Navigation----------*/	
	.bottom-nav {
		margin-top: 0;
	}
	
	.icon ul li {
		float: left;
		display: inline-block;
	}
	
	.side-nav {
		padding-left: 45px;
		position: static;
	}
	
	ul li {
		display: inline-block;
		padding-left: 15px;
	}
	
/*---------------------------------------------------------------------2 Widths and Heights----------*/
/*---------------------------------------------------------------------3 Backgrounds----------*/
/*---------------------------------------------------------------------4 Margins and Padding----------*/
	#bottom {
		margin-top: 0;
	}
	
	#pages {
		padding-left: 50px;
	}
	
	
/*---------------------------------------------------------------------5 Images----------*/
/*---------------------------------------------------------------------6 Typography----------*/
	#bottom, h1, h2, p, ul li {
		text-align: center;
	}

	h1 {
		font-family: 'Pacifico', cursive;
		color: #22bbb4;
		font-size: 40px;
	}
	
	h2 {
		font-family: 'Josefin Sans', sans-serif;
		color: #22bbb4;
		font-size: 30px;
	}

	p {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 16px;
	}
	
/*---------------------------------------------------------------------7 Image Hover State----------*/
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.logo img {
		position: fixed;
    	max-width: 7rem;
	}
	.side-nav {
    	padding-left: 50px;
    	position: fixed;
    	top: 10rem;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.icon img {
		padding-right: .25rem;
		height: 50px;
		width: 50px;
	}
	
	.icon ul li {
		float: right;
		display: inline-block;
		margin-left: .25rem;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

	
	}
